<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Conteúdos</title>
</head>
<body>
    <h1>Lista de Conteúdos</h1>
    <ul>
        <% conteudosDoController.forEach(conteudo => { %>
            <li>
                <strong>ID:</strong> <%= conteudo.id %>
                <strong>Título:</strong> <%= conteudo.titulo %>
                <strong>Descrição:</strong> <%= conteudo.descricao %>
                <strong>Texto:</strong> <%= conteudo.texto %>
                <strong>Data:</strong> <%= conteudo.data %>
                
                <a href="/editarconteudo/<%= conteudo.id %>">Editar</a>
                <a href="/removerconteudo/<%= conteudo.id %>">Excluir</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
